
    .loader-style {
        position: absolute;
        width: 10%;
        margin-left: 45%;
        margin-right: 45%;
        top: 40%;
        z-index: 1100;
    }
    
    
    .loader-style-modal {
        position: absolute;
        width: 10%;
        margin-right: 44%;
        top: 40%;
        z-index: 1100;
        margin-left: -6%;
    }

