    .label-document-pin {
        position: relative;
        left: 19px;
        top: 15px;
        width: 20%;
        height: 25px;
        background-color: var(--color-white);
        color: var(--color-text-description);
        font-family: 'OpenSans-Regular';
        font-size: var(--small-text-ever);
        float: left;
    }

    .enter-data-modal{
        display: -webkit-box;
        width: 100%;
        height: 60px;
        border: 2px solid var(--color-large-text);
        padding: 18px;
        font-family: 'OpenSans-Regular';
        border-radius: 10px;
        -webkit-appearance: none;
        -moz-appearance: textfield;
    }

    .container-modal{
        display: block;
        margin: auto;
        width: 65%;
        border: none;
        border-radius: 20px;
    }

    .font-style {
        text-align: center;
        font-size: var(--subtitle-text-ever);
        letter-spacing: 40px;
    }

    .btn-accept {
        font-family: 'OpenSans-Regular';
        width: 100%;
        height: 3rem;
        border-radius: 40px;
        background: linear-gradient(90deg, rgb(61, 170, 224) 15%, rgb(68, 85, 228) 32%, rgb(207, 51, 226) 100%) !important;
        color: #fff;
        border: none;
        height: 40px;
    }

    .swal2-popup{
        border-radius: 20px;
    }

    .swal2-title{
        color: var(--color-large-text);
        font-family: 'MyriadPro-Regular';
        font-size: var(--subtitle-text-ever);
    }

    .swal2-html-container{
        font-family: 'OpenSans-Regular';
        font-size: var(--small-texts-ever);
    }

    .swal2-icon .swal2-success .swal2-icon-show{
        background-image: url('../../images/img-modal/check.png');
    }

    .swal2-styled.swal2-confirm{
        background: linear-gradient(90deg, rgba(80, 188, 255, 1) 0%, rgba(129, 65, 255, 1) 50%, rgba(246, 49, 250, 1) 100%);
        width: 140px;
        font-size: var(--small-text-ever);
        font-family: 'OpenSans-Regular';
        border-radius: 28px;
    }