
    .container-background-main {
        background-color: var(--background-color);
    }

    .close-main{
        float: right;
        margin: 30px 15px;
    }

    .img-container {
        width: 100%;
        background-color: #fff;
        height: 725px;
        margin: 1.5% 0% 2% 0%;
        border-radius: 50px;
        border: 2px solid var(--color-large-text);
    }

    .logo-small{
        width: 15%;
        margin: auto;
        display: block;
        margin-top: 90%;
    }

    .card-container-cards {
        width: 80%;
        margin: 3% 2% 0 10%;
        border-radius: 20px;
        height: 120px;
        background-color: #fff;
        text-align: start;
        border: none;
    }

    .card-container-cards:hover {
        cursor: pointer;
    }

    .select-card {
        width: 97%;
        margin: 3% 2% 0 6%;
        border-radius: 30px 0 0 30px;
        height: 135px;
        padding: 2% 5% 2% 5%;
        border-top: 2px solid var(--color-large-text);
        border-left: 2px solid var(--color-large-text);
        border-bottom: 2px solid var(--color-large-text);
    }

    .col-select {
        margin: 0 !important;
        padding: 0 !important;
    }

    .card-cards {
        width: 100%;
        text-align: start;
        padding: 60px 35px;
    }

    .card-cards-two{
        width: 100%;
        text-align: start;
        padding: 0px 35px;
    }

    .info-target-card{
        font-family: 'OpenSans-Regular';
        font-size: var(--small-text-ever);
        color: var(--color-black-text);
        line-height: 0.2rem;
    }

    .icon-more{
        float: right;
        margin-right: 15px;
    }

    .new-target{
        font-size: var(--small-text-ever);
        font-family: 'OpenSans-Regular';
        color: var(--color-black-text);
        text-align: center;
        margin-top: 8px;
    }

    .card-container-cards-newCards {
        width: 80%;
        margin: 3% 2% 0 10%;
        border-radius: 16px;
        height: 73px;
        border: none;
    }

    .background-select {
        width: 90%;
        height: 115px;
        border-radius: 17px;
        border: none;
        background-color: #f2e9ff;
        padding: 0% 8%;
    }

    .img-woman-noCards {
        width: 25%;
        margin-left: 45%;
        margin-top: 38%;
    }

    .scroll-cards {
        overflow-y: scroll;
        height: 80vh;
    }

    .text-products {
        color: var(--color-large-text);
        font-family: 'MyriadPro-Regular';
        font-size: var(--subtitle-text-ever);
        margin: 50px 70px 0px;
    }

    .card-information{
        font-family: 'OpenSans-Regular';
        font-size: var(--small-item_ever);
        color: var(--color-black-text);
    }

    .progress-card{
        height: 26px;
        width: 94%;
        margin-top: 15px;
    }

    .container-saldos-card {
        border: 3px solid var(--color-large-text);
        box-shadow: 0px 3px 6px #00000029;
        margin-top: 4%;
        border-radius: 20px;
        height: 17rem;
        padding-left: 5%;
    }

    .imgs-logo-card {
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
        height: 4rem;
        width: 90%;
        margin-left: 3%;
    }

    /* .img-logoId {
        width: 15%;
    } */

    /* .img-logoCard {
        width: 18%;
        border-radius: 10px;
    } */

    .container-data-card {
        width: 100%;
        box-shadow: inset 0px 3px 6px #8080803d, 0px 3px 6px #8080803d;
        margin-top: 4%;
        border-radius: 20px;
        padding: 2% 6%;
        height: 215px;
    }

    .text-data-main {
        margin-left: 10%;
        margin-bottom: 0%;
    }

    .text-data-color {
        margin-left: 10%;
        margin-bottom: 0%;
        color: var(--color-large-text);
    }

    .btn-pay {
        width: 35%;
        height: 45px;
        border-radius: 50px;
        background: rgb(183,242,255);
        border: none;
        background: linear-gradient(90deg, rgb(183, 242, 255) 1%, rgb(206, 116, 222) 100%, rgb(255, 255, 255) 100%);
        font-family: 'OpenSans-Regular';
        font-size: var(--short--texts--medium);
        color: var(--color-large-text);
        float: right;
    }

    .container-buttons {
        display: flex;
        justify-content: space-between;
    }

    .btn-accions {
        height: 115px;
        width: 23%;
        background-color: var(--color-white);
        color: var(--color-text-description);
        border: none;
        box-shadow: inset 0px 3px 6px #8080803d, 0px 3px 6px #8080803d;
        margin-top: 5%;
        border-radius: 16px;
        line-height: 1rem;
        font-family: 'OpenSans-Regular';
        font-size: var(--small-item_ever);
    }

    .btn-accions:hover {
        background-color: #fff;
        color: #000;
    }

    .style-icon {
        margin-left: 60%;
        margin-top: 6%;
    }

    .style-icon-visa {
        width: 30%;
    }

    .movements-body {
        width: 100%;
        height: 6rem;
        border: 1px solid;
        border-radius: 20px;
        margin-top: 4%;
    }

    .movements-body {
        text-align: center;
        padding: 4% 0%;
        border: 2px solid var(--color-large-text);
    }

    .btn-act {
        margin-top: -3%;
        margin-left: 63%;
    }