
.container-form{
    text-align: center;
    margin-top: 5%;
}

.title-password{
    font-size: var(--medium-text-ever);
    font-family: MyriadPro-Regular;
    color: var(--color-large-text);
    width: 66%;
    display: block;
    margin: auto;
}

.title-code{
    font-size: var(--medium-text-ever);
    font-family: MyriadPro-Regular;
    color: var(--color-large-text);
    display: block;
    margin: auto;
}

.subtitle-password{
    color: var(--color-large-text);
    font-family: 'MyriadPro-Regular';
    font-size: var(--subtitle-text-ever);
}

.data-password{
    font-family: 'OpenSans-Regular';
    color: var(--color-text-light-grey);
    font-size: var(--small-text-ever);
}

.data-phone{
    font-family: 'OpenSans-Regular';
    color: var(--color-text-light-grey);
    font-size: var(--medium-text-ever);
}

.listRecommendations{
    text-align: initial;
    color: var(--color-text-light-grey);
    font-family: 'OpenSans-Regular';
    font-size: var(--small-text-ever);
    line-height: 2rem;
}

.colors{
    width: 62%;
    margin: 40px;
}