
.content-banner{
    padding: 1rem;
    height: 130px;
}

.image-logo {
    height: 85px;
    width: 80%;
}

.avatar{
    width: 50%;
    margin-top: -10px;
}

.title-name{
    font-family: 'MyriadPro-Regular';
    font-size: var(--subtitle-text-ever);
    color: var(--color-white);
}

.title-banner{
    font-family: 'MyriadPro-Regular';
    color: var(--color-white);
    margin-top: 13px;
    font-size: var(--bg-medium-text-ever);
}

.subtitle-banner{
    font-family: 'OpenSans-Regular';
    color: var(--color-white);
    font-size: var(--small-text-ever);
}