.arrow-banner{
    background-image: var(--icon-arrow-banner);
    background-repeat: no-repeat;
    background-position: center;
    float: right;
}

.close-icon{
    background-image: var(--icon-close-banner);
    background-repeat: no-repeat;
    padding: 5px 45px;
    margin-top: var(--small-texts-ever);
    font-size: var(--small-text-ever);
    font-family: 'OpenSans-Regular';
}

.icon-definitions{
    background-image: var(--icon-definitions);
    background-repeat: no-repeat;
    padding: 3px 45px;
    font-family: 'OpenSans-Regular';
    font-size: var(--small-text-ever);
}

.content-banner{
    height: 130px;
    box-shadow: 0px 3px 6px #00000029;
}

.content-nav{
    margin-top: -12px;
}

.avatar{
    width: 50%;
    margin-top: -10px;
}

.avatarW{
    width: 50%;
    margin-top: -24px;
}

.title-name{
    font-family: 'MyriadPro-Regular';
    font-size: var(--subtitle-text-ever);
    color: var(--color-white);
    float: right;
    padding: 0px 10px;
}

.title-banner{
    font-family: 'MyriadPro-Regular';
    color: var(--color-white);
    font-size: var(--bg-medium-text-ever);
}

.subtitle-banner{
    font-family: 'OpenSans-Regular';
    color: var(--color-white);
    font-size: var(--small-text-ever);
}

.conexion-info{
    font-family: 'OpenSans-Regular';
    color: var(--color-white);
    font-size: var(--small-text-ever);
    float: right;
}

.menu-banner{
    height: 135px;
    width: 65%;
    box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #6096fa;
    padding: 25px;
    border-radius: 14px;
    margin-left: -25%;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: var(--color-white);
    color: var(--color-black-text);
}

@media only screen and (max-width: 768px){

    
    .title-banner{
        font-size: var(--subtitle-text-ever);
    }

    .subtitle-banner, .conexion-info{
        font-size: var(--smaller-text-ever);
    }

    .menu-banner {
        width: 75%;
    }
}


@media only screen and (max-width: 480px){

    .content-banner {
        height: 70px;
    }

    .title-name, .card-information, .text-data-main, .btn-accions, .btn-pay{
        font-size: var(--smaller-text-ever);
    }

    .container-saldos-card{
        height: 15rem;
    }

    .container-data-card{
        height: 200px;
    }
}