
        .info-target-card{
            font-family: 'OpenSans-Regular';
            font-size: var(--small-text-ever);
            color: var(--color-black-text);
            line-height: 0.2rem;
            font-weight: 100;
        }
        
        .info-target-card-n{
            font-family: 'OpenSans-Regular';
            font-size: var(--small-text-ever);
            color: var(--color-black-text);
            line-height: 0.2rem;
        }

        .card-container-cards-newCards {
            width: 80%;
            margin: 3% 2% 0 10%;
            border-radius: 16px;
            height: 73px;
            border: none;
        }

        .text-products {
            color: var(--color-large-text);
            font-family: 'MyriadPro-Regular';
            font-size: var(--subtitle-text-ever);
            margin: 50px 70px 0px;
        }