body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-purple {
    background-color: #6C57F2
}

.text-purple {
    color: #6C57F2
}

.bg-purple-900 {
    background-color: #8332A6;
}


.font-light {
    font-weight: 350;
}

.pay-gradient-main {
    background: rgb(80, 188, 255);
    background: linear-gradient(90deg, rgba(80, 188, 255, 1) 0%, rgba(129, 65, 255, 1) 50%, rgba(246, 49, 250, 1) 100%);
}

.pay-border-gradient-bg-white-main {
    background: linear-gradient(var(--bs-white), var(--bs-white)) padding-box,
    linear-gradient(90deg, rgba(80, 188, 255, 1) 0%, rgba(129, 65, 255, 1) 50%, rgba(246, 49, 250, 1) 100%) border-box;
    border-radius: 50em;
    border: 3px solid transparent;
}

.pay-border-extra-modal {
    border-radius: 20px;
    border: none;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.step-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(80, 188, 255);
    background: linear-gradient(90deg, rgba(80, 188, 255, 1) 0%, rgba(129, 65, 255, 1) 50%, rgba(246, 49, 250, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-step-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 1px solid black;
}
.line {
    color: black;
}

.btn-arrow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(to right, #4FBEFF 15%, #8834FF 55%, #8834FF 60%,  #F631FA 85%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: white;
}

.last-number {
    background-color: #EDF0F7;
    border: #EDF0F7;
    border-bottom: black;
    border-radius: 10%;
    height: 70px;
    width: 50px;
    align-items: center;
    text-align: center;
}

.last-password {
    background-color: #EDF0F7;
    border: #EDF0F7;
    border-bottom: black;
    border-radius: 10%;
    height: 70px;
    width: 200px;
    align-items: center;
    text-align: center;
}

.pointer {
    cursor: pointer;
}
/* .avatar {
    width: 85px;
    height: 85px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #ffffff;
} */

.horizontal-bar {
    width: 100%;
    height: 20px;
    background: #6C57F2;
    border-radius: 10px;
}

.border-purple-left {
    border-left: 1px solid #6C57F2;
}

.border-purple-right {
    border-right: 1px solid #6C57F2;
}

.border-purple-hover:hover {
    background: linear-gradient(var(--bs-white), var(--bs-white)) padding-box,
    linear-gradient(90deg, rgba(80, 188, 255, 1) 0%, rgba(129, 65, 255, 1) 50%, rgba(246, 49, 250, 1) 100%) border-box;
    border-radius: 32px;
    border: 2px solid transparent;
}

.card-options {
    border-radius: 32px;
    cursor: pointer;
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 10px solid linear-gradient(to right, rgba(80, 188, 255, 1) 0%, rgba(129, 65, 255, 1) 50%, rgba(246, 49, 250, 1) 100%) border-box;
}

.line-spacing-up {
    margin-top: -8px;
}

.pin-center {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.pin-conf-center {
    width: 515px;
    margin-left: auto;
    margin-right: auto;
}

.img-visa{
    float: left;
    margin-top: -31px;
}

.btn-add{
    float: right;
    margin-top: -31px;
}

.img_tarjeta-2{
    width: 450px;
}

.centrar {
    align-items: center;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

.cancel {
    border: 2px solid rgba(129, 65, 255, 1);
    color: rgba(129, 65, 255, 1);
    background: white;
}

.cancel:hover {
    background: white;
    color: rgba(129, 65, 255, 1);
}

.password {
    border: 1px solid lightgray;
    color: rgba(129, 65, 255, 1);
    background: white;
    transition: .4s ease all;
}
.password:focus {
    background-color: white;
    outline: none;
    color: rgba(129, 65, 255, 1);
}

.password:hover {
    background: white;
    color: rgba(129, 65, 255, 1);
    border: 1px solid lightgray;
}

.card {
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
    border-radius: 32px;
    width: 70%;
    height: 150px;
    margin: 10px;
}

.text-error {
    color: red;
    font-weight: 400;
    text-align: center;
    margin: 0%;
    padding: 0%;
    font-size: smaller;
}

.text-small {
    font-size: x-small;
}

.card-size {
    height: 100px;
    width: 130px;
}

.Card-Visa-Top {
    border-start-start-radius: 32px;
    border-start-end-radius: 32px;
  }
  
  .Card-Visa-Bottom {
    border-end-end-radius: 32px;
    border-end-start-radius: 32px;
  }
  
  .switch-success {
    background-color: #8CC63F;
  }

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 0 10px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.switch input {display: none;}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 21px;
}

input:checked + .slider {
    background-color: #8CC63F;
}

input:checked + .slider:before {
    transform: translateX(30px);
}

.color-black {
    color: black;
}

.language {
    background-color: transparent;
    border: 0;
    padding: 2px;
    margin: 2px;
    box-shadow: none;
}

.language:hover {
    color: white;
    background-color: transparent;
    box-shadow: none;
}

.language:focus {
    color: white;
    background-color: transparent;
    box-shadow: none;
}

.show > .color-white {
    color: white;
    background-color: transparent;
    box-shadow: none;
}

.icono {
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    border-radius: 20%;
    background-color: #ffffff;
    border: 2px solid #ffffff;
}

.borderTopLef32{
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}
.borderTopRight32{
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}
.borderRadius32{
    border-radius: 32px;
}

.button-active {
    margin-left: 5%;
    height: 3rem;
    width: 22%;
    background: linear-gradient(90deg, rgba(80, 188, 255, 1) 0%, rgba(129, 65, 255, 1) 50%, rgba(246, 49, 250, 1) 100%);
    border-radius: 32px;
}

.input-title-calendar {
    font-weight: 700;
}

.input-title-container-calendar {
    font-weight: 600;
}

.calendar-input {
    width: 50%;
    height: 3em;
    text-align: center;
    border-radius: 15px;
    border: 3px solid transparent;
    background: linear-gradient(var(--bs-white), var(--bs-white)) padding-box, linear-gradient(90deg, rgb(80, 188, 255) 0%, rgb(129, 65, 255) 50%, rgb(246, 49, 250) 100%) border-box;
}

.button-date {
    width: 30%;
    height: 3.2rem;
    border-radius: 32px;
    border: transparent;
    color: #fff;
    background: linear-gradient(90deg, rgba(80, 188, 255, 1) 0%, rgba(129, 65, 255, 1) 50%, rgba(246, 49, 250, 1) 100%);
    border-color: #0d6efd;
}

.col-margin {
    margin-top: 4%;
}
